@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway1:ital,wght@0,600;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:   #FFFFFF;
    width:100%;

}

a {
    color: #ffff;
    text-decoration: none;
}

/* MENU */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;

background: #000000;
}

/* Itens do menu*/
.nav-list{
    list-style: none;
    display:flex;
    font-family: 'Raleway', sans-serif;
    left: 50%;
    top:38px;
    height: 21px;
    font-style: SemiBold;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left:32px;
}

/* REGISTRAR-SE */
ul li:nth-child(5) a {
    padding: 9px;
    background-color: none;
    border-radius: 40px;
    border: 2px solid  #fff;
    top:38px;
    height: 21px;
}

/* LINHA DO MENU */
ul li:nth-child(3) a {
    position: relative;
    width: 42px;
    height: 0px;
    right: 15%;
    /* top: 40px; */
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 

}

img [src="cruz 1.png"]{
    position: relative;
    left: 20%;
}

/* LOGO MEDICE */
.logo{
    position: relative;
    width: 254px;
    height: 54px;
    top: 15px;
    left: 10px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 35px;
    
    color: #FFFFFF;
}

.divLogo {
    display: flex;
    justify-content: center;
}

/*imagem dos médicos */
img[src="image 3.png"]{
    position: relative;
    top: 85px;
    left: 30%;
    width: 70%;
}

/*título da parte principal*/
.texto1 h3{
    position: relative;
    width: 810px;
    height: 250px;
    left: 180px;
    top: -350px;

    font-family: 'Raleway';
    font-style: extrabold;
    font-weight: 2000px;
    font-size: 100px;
    line-height: 117px;
    color: #000000;
}

/*Subtítulo da parte principal*/
.texto1 h1{
    position: relative;
    width: 735px;
    height:70px;
    left: 180px;
    top: -350px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

/*//////////////////////////////////////////////////////////////*/

/* retângulo dos médicos da página principal */
#retangulo-medico1{
    position: absolute;
    width: 70%; 
    height: 250px; 
    left: 50%;
    top: 52em;;
    background: #FFFFFF; 
    box-shadow: 0px 4px 25px rgba(150, 150, 150, 0.70);
    transform: translateX(-50%); /* centraliza a div */
    margin: 0 auto; /* centraliza a div no meio horizontal */
}


/*imagem da dra juliana*/
#retangulo-medico1 img[src="image 1.png"] {
    border-radius: 50%;
    width: 170px;
    position: absolute;
    left: 40px;
    top: 40px;
}


#informacoes-medico1 h1{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    left: 250px;
    top: 75px;

}

#informacoes-medico1 p{
    position: absolute;
    font-family: 'Raleway1', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    left: 250px;
    top: 105px;

}

.botao1, .botao2{
    border: none;
    position: relative;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color:  #FFFFFF;
    width: 250px;
    height: 50px;
    float:right; 
    top: 180px;
    right: 20px;
    background: #0082E0;
    border-radius: 30px;
}


/* retângulo dos médicos da página principal */
#retangulo-medico2{
    position: absolute;
    width: 70%; 
    height: 253px; 
    left: 50%;
    top: 72em;
    background: #FFFFFF; 
    box-shadow: 0px 4px 25px rgba(150, 150, 150, 0.70);
    transform: translateX(-50%); /* centraliza a div */
    margin: 0 auto; /* centraliza a div no meio horizontal */
}


/*imagem da dr flávio*/
#retangulo-medico2 img[src="image 2.png"] {
    border-radius: 50%;
    width: 170px;
    position: absolute;
    left: 40px;
    top: 40px;
}

#informacoes-medico2 h1{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    left: 250px;
    top: 75px;

}

#informacoes-medico2 p{
    position: absolute;
    font-family: 'Raleway1', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    left: 250px;
    top: 105px;

}

/*rodapé*/

#rodape{
    position: absolute;
    width: 100%; 
    height: 200px; 
    left: 0px;
    top: 1500px;
    background: #000000;
    
}

/*para mexer nos dois retangulos*/
.todos-retangulos{
    display: flex;
    justify-content: space-between;
    
}
