<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="../HeaderFooter/style.css">
    <title>Tela de Login</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            <ul class="nav-list">
                <button id='btnColor' class="botaocss">Alternar cores</button>
                <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main">
        <div class="formulario">
            <h1>Login</h1>
            <form>
                <label for="username">Usuário:</label>
                <input type="text" id="username" placeholder="Digite seu usuário"> <br><br>
                
                <label for="password">Senha:</label>
                <input type="password" id="password" placeholder="Digite sua senha">
                
                <input type="submit" value="Entrar" id="btn2">
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="conteudo-footer">
            <div>
                <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            </div>
            <div>
                <ul class = "links-footer">
                    <li><h2>Insitucional</h2></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Profissionais</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Redes Sociais</h2>
                <div class = "icones">
                    <img class = "facebook" src="../HeaderFooter/face.svg" alt="facebook">
                    <img  src="../HeaderFooter/insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.getElementById("btn2").addEventListener("click", function() {
            event.preventDefault(); // Impede o envio padrão do formulário

            var username = document.getElementById("username").value;
            var senha    = document.getElementById("password").value;
            
            const url = 'http://localhost:3000/login';

            data = { username, senha };

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then(data => {
                if(data.result == 1) {
                    location.replace(data.message)
                } else {
                    alert(data.message)
                }
            })
        });
    </script>
</body>

</html>