@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

/* amarelo pra letra grande: #B8860B*/
/*amarelo pra letra pequena:  #FDD835*/
/*preto pra fundo: #1C1C1C*/
/*preto para inicio e footer: #000000 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #1C1C1C;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #FDD835;
    text-decoration: none;
}

/* MENU */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;

}

.nav-list{
    list-style: none;
    display:flex;
    font-family: 'Raleway', sans-serif;
    left: 50%;
    top:38px;
    height: 21px;
    font-style: SemiBold;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left:32px;
}

header ul li:nth-child(5) a {
    padding: 9px;
    background-color: none;
    border-radius: 40px;
    border: 2px solid  #FDD835;
    top:38px;
    height: 21px;
}

header ul li:nth-child(3) a {
    position: relative;
    width: 42px;
    height: 0px;
    right: 15%;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 
}

.logo{
    position: relative;
    width: 254px;
    height: 54px;
    left: 10px;
}

/*//////////////////////////////////////////////////////////////*/

/*imagem dos médicos */
.inicio {
    padding-top: 85px;
    position: relative; 
    height: 650px;
    display: flex;
}

.inicio img {
    position: absolute;
    width: 65%;
    right: 0;
    z-index: 0;
}

.texto1 {
    padding-left: 10%;
    position: absolute;
    width: 60%;
    align-self: center;
}

.texto1 h1 {
    font-size: 85px;
    font-weight: 800;
    color: #B8860B; 
}

.texto1 h3 {
    padding: 1% 10% 0 0;
    font-size: 25px;
    font-weight: 800;
    color: #B8860B;
}

/* Informação Médicos */
#medicos {
    display: flex;
    justify-content: center;
}

#medicos img{
    border-radius: 100%;
}

#informacoes {
    width: 80%;
    margin-top: -40px;
    z-index: 1;
}

.texto-medico ,p{
    color:#FDD835;
}

.texto-medico ,h1{
    color:#FDD835;
}
.retangulo-medico{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 4%;
    border: 2px solid #FFFFFF;
    background-color: #1C1C1C;
}

#informacoes-medico {
    display: flex;
}

#informacoes-medico div{
    padding-left: 20px;
    align-self: center;
}

.div-botao {
    position: relative;
    width: 250px;
}

.botao {
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color:  #FDD835;
    width: 250px;
    height: 50px;
    float:right; 
    background: #000000;
    border-radius: 30px;
    border: 2px solid #FFFFFF
}

/*rodapé*/


footer {
    padding: 3% 0 3% 0;
    margin-top: 2%;
    display: flex;
    background-color: #000;
    justify-content: center;
}

.conteudo-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FDD835;
}

.links-footer {
    list-style: none;
    align-items: center;
}

.links-footer a {
    padding-top: 10px;
}

.facebook {
    padding: 5px 5px 5px 0;
}

