@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-color:   #FFFFFF;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #ffff;
    text-decoration: none;
}

/* NavBar */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;

background: #000000;
}

.nav-list{
    list-style: none;
    display:flex;
    font-family: 'Raleway', sans-serif;
    left: 50%;
    top:38px;
    height: 21px;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left:32px;
}

header ul li:nth-child(5) a {
    padding: 9px;
    border-radius: 40px;
    border: 2px solid  #fff;
    top:38px;
    height: 21px;
}

header ul li:nth-child(3) a {
    position: relative;
    width: 42px;
    height: 0px;
    right: 15%;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 

}

.logo{
    position: relative;
    width: 254px;
    height: 54px;
    left: 10px;
}

/* Informações Médicos */

.information {
    padding-top: 13%;
    margin: 0 10% 0 10%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    font-family: 'Raleway', sans-serif;
}

.texto {
    padding-right: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto p {
    font-weight: 700;
}

.texto h2 {
    font-weight: 400;
}

.texto h5 {
    font-weight: 400;
    padding-top: 1%;
}

.price {
    padding-left: 1%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    height: 30px;
    width: 37%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.price-block{
    color: white;
    padding: 5px;
    margin: 0;
    background-color: #363636;
}

/* Tabela Marcar Consulta */

.instrucoes {
    display: flex;
    justify-content: center;
}

.instrucoes div{
    padding-top: 5%;
    padding-bottom: 1%;
    width: 80%;
}

.quadrado{
    width: 5px;
    height: 5px;
    background-color: #0082E0;
}

.agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.tabela {
    font-family: 'Raleway', sans-serif;
    width: 80%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px;
    table-layout: fixed;
}

.data {
    font-size: 12px;
}

.indisponivel {
    color: #606060 !important;
    background-color: #E1E1E1 !important;
    border: 1px solid  #E1E1E1 !important;
}

.tabela tbody td {
    color: #0082E0;
    font-size: 18px;
    background-color: #DEEFFB;
    border: 1px solid #DEEFFB;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
}


.tabela thead th {
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.tabela .tfoot {
    font-size: 14px;
    font-weight: bold;
}

.tabela .tfoot td {
    font-size: 14px;
}

.tabela .tfoot .links {
    text-align: right;
}

.tabela .tfoot .links a{
    display: inline-block;
    background: #0082E0;
    color: #FFFFFF;
    padding: 4px 10px;
    border-radius: 30px;
}

.descricao {
    display: flex;
    width: 80%;
    justify-content: center;
}

/* Footer */

footer {
    padding: 3% 0 3% 0;
    margin-top: 5%;
    display: flex;
    background-color: #000;
    justify-content: center;
}

.conteudo-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.links-footer {
    list-style: none;
    align-items: center;
}

.links-footer a {
    padding-top: 10px;
}

.facebook {
    padding: 5px 5px 5px 0;
}



